[submodule "system"]
	path = system
	url = https://github.com/coderforlife/c4l-habari-system.git
[submodule "user/plugins/simpleblacklist"]
	path = user/plugins/simpleblacklist
	url = https://github.com/habari-extras/simpleblacklist.git
[submodule "user/plugins/staticcache"]
	path = user/plugins/staticcache
	url = https://github.com/habari-extras/staticcache
