[submodule "system"]
	path = system
	url = https://github.com/coderforlife/c4l-habari-system.git
[submodule "user/plugins/coderforlife/geshi"]
	path = user/plugins/coderforlife/geshi
	url = https://github.com/coderforlife/geshi.git
[submodule "user/plugins/simpleblacklist"]
	path = user/plugins/simpleblacklist
	url = https://github.com/coderforlife/habari-simpleblacklist.git
[submodule "user/plugins/recaptcha"]
	path = user/plugins/recaptcha
	url = https://github.com/coderforlife/habari-recaptcha.git
[submodule "user/plugins/defensio"]
	path = user/plugins/defensio
	url = https://github.com/coderforlife/habari-defensio.git
[submodule "user/plugins/staticcache"]
	path = user/plugins/staticcache
	url = https://github.com/habari-extras/staticcache
